<div class="page-wrapper">
    <header class="header">
        <h1 class="header__title">Bit Wallet</h1>
        <div class="select__wrapper">
            <select class="select">
                <option class="select__option">
                    English
                </option>
                <option class="select__option">
                    Ukrainian
                </option>
            </select>
            <p class="version">Version 5.31.21</p>
        </div>
    </header>
    <router-outlet></router-outlet>
</div>