<section class="currency">
  <div class="currency__header-wrapper">
    <img
      class="icon"
      src="{{ currentCurrencyConfig.img }}"
      alt="{{ currentCurrencyConfig.name }}"
    />
    <h2 class="currency__title">{{ currentCurrencyConfig.name }}</h2>
  </div>
  <h3 class="currency__subtitle">
    {{ currentCurrencyConfig.description }}
    <a
      href="https://www.blockchain.com/learning-portal/bitcoin-faq"
      target="_blank"
      class="currency__subtitle-link"
    >
      Learn more.</a
    >
  </h3>
  <div class="currency__stats">
    <div class="currency__container currency__balance">
      <h4 class="currency__name">
        {{ currentCurrencyConfig.ticker }} Balance
      </h4>
      <span class="currency__amount">{{ balance | currency: "USD" }}</span>
      <p class="currency__state">
        <span>-$50.24 (2.30)%</span>
        today
      </p>
    </div>
    <div class="currency__container currency__price">
      <div>
        <h4 class="currency__name">{{ currentCurrencyConfig.ticker }} Price</h4>
        <span class="currency__amount">$10,856.94</span>
        <p class="currency__state">
          <span>$529.27 (5.12)%</span>
          this week
        </p>
      </div>
      <div class="stats">
        <img src="../../../../assets/icons/graph.png">
        <!-- current statisitc -->
      </div>
    </div>
  </div>
  <app-blockchain-viewer></app-blockchain-viewer>
</section>
