<section class="currency">
  <div class="currency__header-wrapper">
    <img
      class="icon"
      src="../../../../assets/icons/svg/icon-Bitcoin.svg"
      alt="Bitcoin"
    />
    <h2 class="currency__title">Bitcoin</h2>
  </div>
  <h3 class="currency__subtitle">
    Bitcoin (BTC) is the original crypto and the internet's digital currency.
    <a
      href="https://www.blockchain.com/learning-portal/bitcoin-faq"
      target="_blank"
      class="currency__subtitle-link"
      >Learn more</a
    >
  </h3>
  <div class="currency__stats">
    <div class="currency__container">
      <h4 class="currency__name">BTC Balance</h4>
      <span class="currency__amount">$2.353.29</span>
      <p class="currency__state">
        <span>-$50.24 (2.30)%</span>
        today
      </p>
    </div>
    <div class="currency__container">
      <h4 class="currency__name">BTC Price</h4>
      <span class="currency__amount">$10,856.94</span>
      <p class="currency__state">
        <span>$529.27 (5.12)%</span>
        this week
      </p>
      <div class="stats">
        <!-- current statisitc -->
      </div>
    </div>
  </div>
  <div class="currency__panel">
    <ul class="panel__list">
      <li>
        <button class="panel__button active">All</button>
      </li>
      <li>
        <button class="panel__button">Received</button>
      </li>
      <li>
        <button class="panel__button">Sent</button>
      </li>
      <li>
        <button class="panel__button">Transferred</button>
      </li>
    </ul>

    <div class="currency__actions">
      <button class="currency__download">Download</button>
      <input class="currency__search" placeholder="Search" />
    </div>
  </div>
  <div class="currency__transactions">
    <div class="transaction">
      <div class="transaction__type-wrapper">
        <h4 class="transaction__type">Received BTC</h4>
        <time>August 18 2020 @ 9:40 PM</time>
      </div>
      <div class="transaction__address-wrapper">
        <p class="transaction__to">To: My Bitcoin Wallet</p>
        <p class="transaction__from">
          From: bc1qyvhchlasuq69aznuru2tnldjakjfgd8c6t6vd3
        </p>
      </div>
      <div class="transaction__amount-wrapper">
        <span class="transaction__price">$325.40</span>
        <span class="transaction__amount">0.029971 BTC</span>
      </div>
    </div>
    <div class="transaction">
      <div class="transaction__type-wrapper">
        <h4 class="transaction__type">Received BTC</h4>
        <time>August 18 2020 @ 9:40 PM</time>
      </div>
      <div class="transaction__address-wrapper">
        <p class="transaction__to">To: My Bitcoin Wallet</p>
        <p class="transaction__from">
          From: bc1qyvhchlasuq69aznuru2tnldjakjfgd8c6t6vd3
        </p>
      </div>
      <div class="transaction__amount-wrapper">
        <span class="transaction__price">$325.40</span>
        <span class="transaction__amount">0.029971 BTC</span>
      </div>
    </div>
  </div>
</section>
