<section class="currency">
  <div class="currency__header-wrapper">
    <img
      class="icon"
      src="../../../../assets/icons/svg/icon-Bitcoin.svg"
      alt="Bitcoin"
    />
    <h2 class="currency__title">Bitcoin</h2>
  </div>
  <h3 class="currency__subtitle">
    Bitcoin (BTC) is the original crypto and the internet's digital currency.
    <a
      href="https://www.blockchain.com/learning-portal/bitcoin-faq"
      target="_blank"
      class="currency__subtitle-link">
    Learn more.</a>
  </h3>
  <div class="currency__stats">
    <div class="currency__container">
      <h4 class="currency__name">BTC Balance</h4>
      <span class="currency__amount">$2.353.29</span>
      <p class="currency__state">
        <span>-$50.24 (2.30)%</span>
        today
      </p>
    </div>
    <div class="currency__container">
      <h4 class="currency__name">BTC Price</h4>
      <span class="currency__amount">$10,856.94</span>
      <p class="currency__state">
        <span>$529.27 (5.12)%</span>
        this week
      </p>
      <div class="stats">
        <!-- current statisitc -->
      </div>
    </div>
  </div>
  <app-blockchain-viewer></app-blockchain-viewer>
</section>
