@import '../../../../assets/scss/abstracts/vars.scss';

.currency {
	display: flex;
	flex-direction: column;
	position: relative;

	.icon {
    height: 38px;
    width: 38px;
    cursor: pointer;
	}
	
	&__header-wrapper {
		display: flex;
		align-items: center;

		margin-bottom: 10px;
	}

	&__title {
		font-size: 32px;
		margin-left: 10px;
	}

	&__subtitle {
		font-size: 14px;
		color: $secondary-color-grey-dark;
		
		&-link {
			color: $main-color-button;
		}
	}

	&__stats {
		display: flex;

		margin: 15px 0;
	}

	&__container {
		display: flex;
		flex-direction: column;
		padding: 10px;
		background-color: #fff;
		border-radius: 8px;
		border: 1px solid #ccc;
	}

	&__name {
		color: $secondary-color-text;
		font-weight: 500;
	}

	&__amount {
		font-weight: 500;
		font-size: 24px;
	}

	&__state {
		font-size: 14px;

		span {
			font-weight: 600;
			color: $down-color;
		}
	}
}
