$main-color-dark: #121D33;
$main-color-medium: #0D3578;
$main-color-light: #0A84FF;

$secondary-color-dark: #353F52;
$secondary-color-medium: #4d535e;
$secondary-color-grey: #C4C6CC;
$secondary-color-grey-dark:#677184;
$secondary-color-link: #90AEC9;

$hover-color-blue: #D8EBFD;
$hover-color-orange: #FFF0DE;
$hover-color-purple: #E4E2F7;
$hover-color-green: #D9E5E0;

$up-color: #1cd16e;

$down-color: #e60012;