$main-color-dark: #121D33;
$main-color-medium: #144699;
$main-color-light: #0A84FF;

$secondary-color-dark: #353F52;
$secondary-color-medium: #4d535e;
$secondary-color-grey: #C4C6CC;

$up-color: #1cd16e;

$down-color: #e60012;