@import "../../../assets/scss/abstracts/vars.scss";
@import "../../../assets/scss/abstracts/buttons.scss";

.icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.content-wrapper {
  display: flex;
  position: relative;
}

.balance,
.diagram {
  width: 100%;
  min-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.balance {
  .title__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: $secondary-color-grey;
  }

  .crypto__list {
    .item__wrapper {
      display: flex;
      align-items: center;
    }

    .item__wrapper {
      p {
        margin-left: 10px;
      }
    }

    li {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
    }

    li:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }

    .icon {
      width: 34px;
      height: 34px;
    }

    .details__wrapper {
      display: flex;
      flex-direction: column;
      text-align: right;

      .value {
        font-size: 16px;
      }

      .amount {
        font-size: 12px;
        color: $secondary-color-grey-dark;
      }
    }
  }

  &__value {
    font-size: 24px;
    font-weight: 600;
  }
}

.diagram {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: 30px;

  .time__list {
    display: flex;
    justify-content: center;

    .button {
      @include button(6px, 8px, 10px, #fff);
      color: $secondary-color-grey-dark;
      border: 1px solid $secondary-color-grey-dark;
    }

    .button:hover {
      color: #fff;
      background-color: $main-color-light;
      border-color: $main-color-light;
    }

    li + li {
      margin-left: 10px;
    }
  }

  .diagram__buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    .button {
      @include button(15px, 40px, 14px, $main-color-button);
    }

    .button + .button {
      margin-left: 20px;
    }
  }

  &__title {
    font-size: 10px;
    color: $secondary-color-grey-dark;
  }

  &__price {
    font-size: 26px;
    color: $main-color-medium;
  }
}
