<div class="content-wrapper">
  <section class="balance">
    <app-balance></app-balance>
    <ul class="crypto__list">
      <li class="btc">
        <div class="item__wrapper">
          <img
            class="icon"
            src="../../../assets/icons/svg/icon-Bitcoin.svg"
            alt="BTC"
          />
          <p>Bitcoin</p>
        </div>
        <div class="details__wrapper">
          <span class="value">{{ calculatedPrice[0] | currency: "USD" }}</span>
          <span class="amount">{{ btcBalance.toFixed(6) }} BTC</span>
        </div>
      </li>
      <li class="eth">
        <div class="item__wrapper">
          <img
            class="icon"
            src="../../../assets/icons/svg/icon-Ethereum.svg"
            alt="ETH"
          />
          <p>Ethereum</p>
        </div>
        <div class="details__wrapper">
          <span class="value">{{ calculatedPrice[1] | currency: "USD" }}</span>
          <span class="amount">{{ ethBalance.toFixed(6) }} ETH</span>
        </div>
      </li>
      <li class="xrp">
        <div class="item__wrapper">
          <img
            class="icon"
            src="../../../assets/icons/svg/icon-Xrp.svg"
            alt="XRP"
          />
          <p>XRP</p>
        </div>
        <div class="details__wrapper">
          <span class="value">{{ calculatedPrice[2] | currency: "USD" }}</span>
          <span class="amount">{{ xrpBalance.toFixed(6) }} XRP</span>
        </div>
      </li>
    </ul>
    <ngx-spinner
      bdColor="rgba(255, 255, 255, 0.9)"
      color="rgb(10, 132, 255)"
      size="medium"
      type="ball-clip-rotate"
      [fullScreen]="false"
      [name]="sectionSpinner"
    ></ngx-spinner>
  </section>

  <section class="diagram">
    <div class="diagram__title">
      <app-select-currency
        (selectedCrypto)="selectedCrypto($event)"
      ></app-select-currency>
      <h5 class="diagram__title">Current price</h5>
      <span class="diagram__price">{{
        currentCrypto?.price | currency: "USD"
      }}</span>
    </div>
    <div class="diagram__wrapper">
      <ul class="time__list">
        <li>
          <button class="button" type="button">Day</button>
        </li>
        <li>
          <button class="button" type="button">Week</button>
        </li>
        <li>
          <button class="button" type="button">Month</button>
        </li>
        <li>
          <button class="button" type="button">Year</button>
        </li>
        <li>
          <button class="button" type="button">All</button>
        </li>
      </ul>
      <div class="diagram__buttons">
        <button class="button" type="button">
          Buy {{ currentCrypto?.name }}
        </button>
        <button class="button" type="button">
          Swap {{ currentCrypto?.name }}
        </button>
      </div>
    </div>
    <ngx-spinner
      bdColor="rgba(255, 255, 255, 0.9)"
      color="rgb(10, 132, 255)"
      size="medium"
      type="ball-clip-rotate"
      [fullScreen]="false"
      [name]="sectionSpinner"
    ></ngx-spinner>
  </section>
</div>
