<section class="form-container" *ngIf="difficulty && miningReward">
  <h1>Settings</h1>
  <p>
    Control how the blockchain behaves when new transactions or blocks are
    created. Changes are automatically saved.
  </p>

  <br />

  <div class="form-group">
    <label for="difficulty">Difficulty</label>
    <input
      type="number"
      class="form__input"
      id="difficulty"
      aria-describedby="difficultyHelp"
      [(ngModel)]="difficulty"
    />
    <small id="difficultyHelp" class="form__text">
      Difficulty controls how long the mining process takes. Higher numbers will
      make mining a lot slower!
      <br />Default: 2
    </small>
  </div>

  <br />

  <div class="form-group">
    <label for="miningReward">Mining reward</label>
    <input
      type="number"
      class="form__input"
      id="miningReward"
      aria-describedby="miningRewardHelp"
      [(ngModel)]="miningReward"
    />
    <small id="miningRewardHelp" class="form__text">
      How much "coins" a miner receives for successfully creating a new block
      for the chain.
      <br />Default: 100
    </small>
  </div>
</section>
