<div class="page-wrapper">
  <header class="header">
    <app-logo></app-logo>
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li>
          <button type="button" class="secondary__button" routerLink="/login">
            Log In
          </button>
        </li>
        <li>
          <button
            type="button"
            class="main__button main__button-sm"
            routerLink="/signup"
          >
            Sign Up
          </button>
        </li>
      </ul>
    </nav>
  </header>
  <main class="main">
    <h2 class="main__title">
      The World's Most Popular Way to Buy, Hold, and Use Crypto
    </h2>
    <h4 class="main__subtitle">
      Trusted by 53M Wallets - with Over $620 Billion in Transactions - Since
      2013
    </h4>
    <button type="button" class="main__button" routerLink="/login">
      Get Started
    </button>
    <ul class="currency__list" *ngIf="coinCup$ | async as coin">
      <li>
        <div class="currency__name">
          <img class="icon" src="../../../assets/icons/svg/icon-Bitcoin.svg" />
          <h4>Bitcoin</h4>
          <span>BTC</span>
        </div>
        <div class="currency__price">
          <span class="price">{{
            coin.BTC[0].quote.USD.price | currency: "USD"
          }}</span>
        </div>
        <div class="currency__chart">
          <span
            class="percent"
            [ngClass]="{ down: coin.BTC[0].quote.USD.percent_change_24h < 0 }"
          >
            {{ coin.BTC[0].quote.USD.percent_change_24h | number: "1.1-2" }}%
          </span>
          <div class="chart">
            <img src="../../../assets/icons/graph.png" />
          </div>
        </div>
      </li>
      <li>
        <div class="currency__name">
          <img class="icon" src="../../../assets/icons/svg/icon-Ethereum.svg" />
          <h4>Ethereum</h4>
          <span>ETH</span>
        </div>
        <div class="currency__price">
          <span class="price">{{
            coin.ETH[0].quote.USD.price | currency: "USD"
          }}</span>
        </div>
        <div class="currency__chart">
          <span
            class="percent"
            [ngClass]="{ down: coin.ETH[0].quote.USD.percent_change_24h < 0 }"
          >
            {{ coin.ETH[0].quote.USD.percent_change_24h | number: "1.1-2" }}%
          </span>
          <div class="chart">
            <img src="../../../assets/icons/graph.png" />
          </div>
        </div>
      </li>
      <li>
        <div class="currency__name">
          <img class="icon" src="../../../assets/icons/svg/icon-Xrp.svg" />
          <h4>Ripple</h4>
          <span>XRP</span>
        </div>
        <div class="currency__price">
          <span class="price">{{
            coin.XRP[0].quote.USD.price | currency: "USD"
          }}</span>
        </div>
        <div class="currency__chart">
          <span
            class="percent"
            [ngClass]="{ down: coin.XRP[0].quote.USD.percent_change_24h < 0 }"
          >
            {{ coin.XRP[0].quote.USD.percent_change_24h | number: "1.1-2" }}%
          </span>
          <div class="chart">
            <img src="../../../assets/icons/graph.png" />
          </div>
        </div>
      </li>
    </ul>
  </main>
</div>
