<div class="page-wrapper">
  <header class="header">
		<h1 class="header__title">Bit Wallet</h1>
		<nav class="header__nav nav">
			<ul class="nav__list">
				<li>
					<button type="button" class="secondary__button" routerLink="/login">
						Log In
					</button>
				</li>
				<li>
					<button type="button" class="main__button main__button-sm"  routerLink="/signup">
						Sign Up
					</button>
				</li>
			</ul>
		</nav>
  </header>
  <main class="main">
		<h2 class="main__title">The World's Most Popular Way to Buy, Hold, and Use Crypto</h2>
		<h4 class="main__subtitle">Trusted by 53M Wallets - with Over $620 Billion in Transactions - Since 2013</h4>
		<button type="button" class="main__button" routerLink="/login">Get Started</button>
		<ul class="currency__list">
			<li>
				<img class="icon" src="../../../assets/icons/svg/icon-Bitcoin.svg">
				<span class="count">$11,475.97</span>
				<span class="percent">0.53%</span>
			</li>
			<li>
				<img class="icon" src="../../../assets/icons/svg/icon-Ethereum.svg">
				<span class="count">$396.97</span>
				<span class="percent">2.12%</span>
			</li>
			<li>
				<img class="icon" src="../../../assets/icons/svg/icon-Xrp.svg">
				<span class="count">$0.030</span>
				<span class="percent">0.46%</span>
			</li>
		</ul>
  </main>
</div>