<div class="modal__wrapper">
	<header class="modal__header">
		<div class="modal__header-wrapper">
			<img class="icon" src="../../../../assets/icons/svg/icon-Send.svg">
			<h1 class="modal__header-title">Send Bitcoin</h1>
		</div>
		<button class="modal__header-close" (click)="closeModal()">X</button>
	</header>
	<main class="modal">
		<div class="block-wrapper">
			<div class="modal__block-wrapper">
				<label class="modal__label">Currency</label>
				<app-select-currency></app-select-currency>
			</div>
			<div class="modal__block-wrapper">
				<label class="modal__label">From</label>
				<app-select-currency></app-select-currency>
			</div>
		</div>
		<label class="modal__label" for="to">To</label>
		<input class="modal__input" id="to" type="text" placeholder="Paste, scan or select destination">
		<label class="modal__label" for="amount">Amount</label>
		<div class="modal__amount-wrapper">
			<input class="modal__input modal__amount" id="amount" type="text" placeholder="$0.00">
			<span class="modal__sign">=</span>
			<input class="modal__input modal__currency" type="text" placeholder="0">
		</div>
		<label class="modal__label" for="desc">Description</label>
		<textarea class="modal__input modal__description" id="desc" rows="3" placeholder="What's this transaction for? (optional)"></textarea>
		<p class="modal__text">Estimated confirmation time 1+ hour</p>
		<button class="modal__button">Continue</button>
	</main>
</div>
<div class="bg-layout"></div>
