<div class="select__wrapper">
  <img class="select__icon" #img />
    <select (change)="selectChangeHandler($event)" class="select__crypto">
      <option *ngFor="let crypto of cryptoList" value="{{ crypto.ticker }}" [selected]="crypto.ticker === currentGlobalCurrency">
        {{ crypto.name }} ({{ crypto.ticker }})
      </option>
    </select>
  <!-- <ng-container *ngIf="walletType else currencyList">
    <p>{{walletType}}</p>
     <select class="select__crypto">
      <option>{{walletType}}</option>
    </select> 
  </ng-container>
  <ng-template #currencyList>
		<img class="select__icon" #img />
    <select (change)="selectChangeHandler($event)" class="select__crypto">
      <option *ngFor="let crypto of cryptoList" value="{{ crypto.ticker }}">
        {{ crypto.name }} ({{ crypto.ticker }})
      </option>
    </select>
  </ng-template> -->
</div>
