.select__wrapper {
    display: flex;
}

.select__icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.select__crypto {
    color: #000;
    font-size: 18px;
    margin-bottom: 15px;
}