.logo {
	
	&-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
	cursor: pointer;
	outline: none;
	}

	&__title {
		font-size: 18px;
		margin-left: 10px;
	}

	&__img {
		height: 16px;
		width: 16px;
	}
}
