<div class="transaction">
  <div class="transaction__type-wrapper">
    <div class="transaction-icon">
      <span></span>
    </div>
    <div class="transaction__title">
      <h4 class="transaction__type">Received BTC</h4>
      <time>{{ block.timestamp | date: "MMM d, y, h:mm a" }}</time>
    </div>
  </div>
  <div class="transaction__address-wrapper">
    <p class="transaction__to">
      <span>To:</span>
      <span>{{ transaction.toAddress }}</span>
    </p>
    <p class="transaction__from">
      <span>From:</span>
      <span>{{ transaction.fromAddress }}</span>
    </p>
  </div>
  <div class="transaction__amount-wrapper">
    <span class="transaction__amount">0.0 BTC</span>
    <span class="transaction__price">{{ transaction.amount | currency: "USD" }}</span>
  </div>
</div>
