<div class="transaction">
  <div class="transaction__type-wrapper">
    <div class="transaction-icon">
      <span
        class="icon"
        [ngClass]="{ sent: checkWalletReciever === 'Sent' }"
      ></span>
    </div>
    <div class="transaction__title">
      <h4 class="transaction__type">
        {{ checkWalletReciever }} {{ transactionCurrency }}
      </h4>
      <time>{{ block.timestamp | date: "MMM d, y, h:mm a" }}</time>
    </div>
  </div>
  <div class="transaction__address-wrapper">
    <p class="transaction__to">
      <span>To:</span>
      <span>{{ transaction?.toAddress }}</span>
    </p>
    <p class="transaction__from">
      <span>From:</span>
      <span>{{ transaction?.fromAddress }}</span>
    </p>
  </div>
  <div class="transaction__amount-wrapper">
    <span class="transaction__amount"
      >{{ transaction?.amount }} {{ transactionCurrency }}</span>
    <span class="transaction__price">{{ currencyPrice  | currency: "USD" }}</span>
  </div>
</div>
