@import "../../../assets/scss/abstracts/vars.scss";
@import "../../../assets/scss/abstracts/buttons.scss";

:host {
  ::ng-deep {
    .ps-content {
      max-height: 400px;
    }
  }
}

.currency__panel {
  display: flex;
  justify-content: space-between;

  margin-bottom: 15px;
}

.panel__list {
  display: flex;
  padding: 2px 3px;
  border-radius: 8px;
  background-color: #f0f2f7;
}

.panel__button {
  padding: 12px 20px;
  color: $secondary-color-text;
  font-weight: 600;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
}

.panel__button.active {
  @include button(12px, 20px, 14px, #fff);
  color: $main-color-button;
  box-shadow: rgba(5, 24, 61, 0.1) 0px 4px 8px;
}

.panel__button.active:hover {
  background-color: #fff;
}

.currency__download {
  @include button(12px, 20px, 14px, #fff);
  color: $main-color-button;
  border: 1px solid #ccc;
}

.currency__download:hover {
  background-color: $secondary-color-grey;
}

.currency__search {
  height: 45px;
  min-height: 45px;
  margin-left: 10px;
  padding: 6px 12px 6px 38px;

  font-size: 16px;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.currency__search:focus {
  border-color: $main-color-button;
}

.currency__transactions {
  display: flex;
  position: relative;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 99%;
  border-radius: 8px;
  border: 1px solid rgb(240, 242, 247);
}

.currency__transactions li {
  display: flex;
  flex-direction: column;
}