<div class="currency__panel">
  <ul class="panel__list">
    <li>
      <button class="panel__button active">All</button>
    </li>
    <li>
      <button class="panel__button">Received</button>
    </li>
    <li>
      <button class="panel__button">Sent</button>
    </li>
    <li>
      <button class="panel__button">Transferred</button>
    </li>
  </ul>

  <div class="currency__actions">
    <button class="currency__download">Download</button>
    <input class="currency__search" placeholder="Search" />
  </div>
</div>
<div class="currency__transactions">
  <app-block-view *ngFor="let block of blocks" [block]="block"></app-block-view>
  <!-- <div class="transaction">
    <div class="transaction__type-wrapper">
      <h4 class="transaction__type">Received BTC</h4>
      <time>August 18 2020 @ 9:40 PM</time>
    </div>
    <div class="transaction__address-wrapper">
      <p class="transaction__to">To: My Bitcoin Wallet</p>
      <p class="transaction__from">
        From: bc1qyvhchlasuq69aznuru2tnldjakjfgd8c6t6vd3
      </p>
    </div>
    <div class="transaction__amount-wrapper">
      <span class="transaction__price">$325.40</span>
      <span class="transaction__amount">0.029971 BTC</span>
    </div>
  </div> -->
</div>
