<div class="currency__panel">
  <ul class="panel__list">
    <li>
      <button class="panel__button active">All</button>
    </li>
    <li>
      <button class="panel__button">Received</button>
    </li>
    <li>
      <button class="panel__button">Sent</button>
    </li>
    <li>
      <button class="panel__button">Transferred</button>
    </li>
  </ul>

  <div class="currency__actions">
    <button class="currency__download">Download</button>
    <input class="currency__search" placeholder="Search" />
  </div>
</div>
<div class="currency__transactions">
  <app-block-view
    *ngFor="let block of blocks"
    [block]="block"
    (click)="selectedBlock(block)"
  ></app-block-view>
</div>
