<div class="settings-dropdown" dropdown>
  <button id="button-animated" type="button" aria-controls="dropdown-animated" dropdownToggle>
    <img src="../../../assets/icons/svg/icon-Settings.svg" alt="Settings" />
  </button>

  <div
    id="dropdown-animated"
    class="settings-dropdown__menu"
    role="menu"
    aria-labelledby="button-animated"
    *dropdownMenu
  >
    <ul class="dropdown__list">
      <li>
        <a (click)="preferences($event)">Preferences</a>
      </li>
      <li>
        <a (click)="logout($event)">Log Out</a>
      </li>
    </ul>
  </div>
</div>
