@import '../../abstracts/vars.scss';
@import '../../abstracts/buttons.scss';

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
          
    width: 400px;
  
    &__group {
      display: flex;
      flex-direction: column;
    }
	
		&__group + &__group {
			margin-top: 10px;
		}

    &__label {
      font-weight: 600;
      font-size: 14px;
    }
  
    &__input {
      height: 45px;
      padding: 0 15px;
      font-size: 18px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }
  
      &__text {
				margin-top: 20px;
        font-size: 12px;
        font-weight: 600;
				line-height: 1.2;
				
				text-align: center;
				
				a {
				  color: $main-color-light;
				}
      }
  
      &__button {
        margin-top: 25px;
        @include button(15px, 20px, 16px, $main-color-light);
      }
  }