<div class="page-wrapper">	
	<main class="main">
			<form class="form">
        <h2 class="form__title">Blockchain Wallet</h2>
        <div class="form__describtion">
					<p>Be your own bank.</p>
					<p>Easily buy and sell <span>Bitcoin, Ether, and more.</span></p>
					<p>Control your money <span>by holding your private keys.</span></p>
        </div>
        <label class="form__label" for="email">Your Email</label>
				<input class="form__input" id="email" type="text">
				<label class="form__label" for="pass">Password</label>
				<input class="form__input" id="pass" type="password">
				<label class="form__label" for="confrim-pass">Confirm Password</label>
				<input class="form__input" id="confrim-pass" type="password">
				<p class="form__text">By creating an account, you agree to Blockchain’s <a routerLink='/'>Terms of Service</a> & <a routerLink='/'>Privacy Policy.</a></p>
				<button class="form__button" type="submit">Create Wallet</button>
			</form>
		<a class="main__link" routerLink="/login">Already have a wallet? <span>Log In</span></a>
	</main>
</div>